<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img  class="logo" src="images/Logo.png" alt="">  
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item">
        <a href="#home" class="nav-link smoothScroll">INÍCIO</a>
      </li>
      <li class="nav-item">
        <a href="#sobre" class="nav-link smoothScroll">SOBRE</a>
      </li>
      <li class="nav-item">
        <a href="#prof" class="nav-link smoothScroll">PROFISSIONAIS</a>
      </li>
      <li class="nav-item">
        <a href="#contact" class="nav-link smoothScroll">CONTATO</a>
      </li>
    </ul>
    <ul class="social-icon ml-lg-3">
      <li><a href="#" class="fa fa-facebook"></a></li>
      <li><a href="https://www.instagram.com/beyondtherapyoficial/" class="fa fa-instagram"></a></li>
    </ul>
  </div>
</div>
</nav>